[submodule "resourcepack/src/main/resources/assets/minecraft/shaders/include/lygia"]
	path = resourcepack/src/main/resources/assets/minecraft/shaders/include/lygia
	url = https://github.com/patriciogonzalezvivo/lygia.git
